@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: local("../fonts/Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Light.eot");
  src: local("../fonts/Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@keyframes carusel-l {
  0% {
    transform: scale(0.92, 0.92) rotateY(0);
    z-index: 1;
    left: 40px; }
  25% {
    transform: scale(0.94, 0.94) rotateY(5deg);
    z-index: 1;
    left: 20px; }
  50% {
    transform: scale(0.96, 0.96) rotateY(0);
    z-index: 2;
    left: 0px; }
  75% {
    transform: scale(0.98, 0.98) rotateY(-5deg);
    z-index: 2;
    left: 20px; }
  100% {
    transform: scale(1, 1) rotateY(0);
    z-index: 2;
    left: 40px; } }
@keyframes carusel-lr {
  100% {
    transform: scale(0.92, 0.92) rotateY(0);
    z-index: 1;
    left: 40px; }
  75% {
    transform: scale(0.94, 0.94) rotateY(5deg);
    z-index: 1;
    left: 20px; }
  50% {
    transform: scale(0.96, 0.96) rotateY(0);
    z-index: 2;
    left: 0px; }
  25% {
    transform: scale(0.98, 0.98) rotateY(-5deg);
    z-index: 2;
    left: 20px; }
  0% {
    transform: scale(1, 1) rotateY(0);
    z-index: 2;
    left: 40px; } }
@keyframes carusel-r {
  0% {
    transform: scale(0.92, 0.92) rotateY(0);
    z-index: 1;
    right: 40px; }
  25% {
    transform: scale(0.94, 0.94) rotateY(-5deg);
    z-index: 1;
    right: 20px; }
  50% {
    transform: scale(0.96, 0.96) rotateY(0);
    z-index: 2;
    right: 0px; }
  75% {
    transform: scale(0.98, 0.98) rotateY(5deg);
    z-index: 2;
    right: 20px; }
  100% {
    transform: scale(1, 1) rotateY(0);
    z-index: 2;
    right: 40px; } }
@keyframes carusel-rr {
  0% {
    transform: scale(1, 1) rotateY(0);
    z-index: 2;
    right: 40px; }
  25% {
    transform: scale(0.98, 0.98) rotateY(5deg);
    z-index: 2;
    right: 20px; }
  50% {
    transform: scale(0.96, 0.96) rotateY(0);
    z-index: 2;
    right: 0px; }
  75% {
    transform: scale(0.94, 0.94) rotateY(-5deg);
    z-index: 1;
    right: 20px; }
  100% {
    transform: scale(0.92, 0.92) rotateY(0);
    z-index: 1;
    right: 40px; } }
body {
  margin: 0;
  padding: 0; }
  @media all and (max-width: 960px) {
    body header {
      padding-top: 56px; } }
  body header .navbar {
    background: #98d361; }
    @media all and (max-width: 960px) {
      body header .navbar {
        position: absolute;
        width: 100vw;
        top: 0;
        z-index: 5; } }
    @media all and (max-width: 960px) {
      body header .navbar .navbar-nav .nav-item {
        height: calc((100vh - 57px) / 5);
        line-height: calc((100vh - 57px) / 5);
        text-align: center;
        border: solid 1px; }
        body header .navbar .navbar-nav .nav-item a {
          padding: 0;
          color: white;
          text-transform: uppercase; } }
  body header .head {
    min-height: calc(100vh - 56px); }
    body header .head .container {
      margin: 0 auto;
      padding: 15px; }
    body header .head .contain_block .logo_block {
      margin-bottom: 40px; }
      @media all and (max-width: 991px) {
        body header .head .contain_block .logo_block {
          margin-bottom: 0; } }
      body header .head .contain_block .logo_block img {
        margin-right: 38px; }
        @media all and (max-width: 991px) {
          body header .head .contain_block .logo_block img {
            display: block;
            margin: 0 auto;
            text-align: center; } }
        @media all and (max-width: 991px) {
          body header .head .contain_block .logo_block img {
            margin-bottom: 15px; } }
      body header .head .contain_block .logo_block h1 {
        color: #b9b9b9;
        text-transform: uppercase;
        font: bold 3rem 'ProximaNova-Bold', sans-serif;
        display: inline-block;
        line-height: 139px;
        margin: 0;
        vertical-align: middle; }
        @media all and (max-width: 991px) {
          body header .head .contain_block .logo_block h1 {
            display: block;
            margin: 0 auto;
            text-align: center; } }
        @media all and (max-width: 991px) {
          body header .head .contain_block .logo_block h1 {
            line-height: 3rem;
            margin-bottom: 15px; } }
    body header .head .contain_block .p_block {
      margin-bottom: 65px; }
      @media all and (max-width: 991px) {
        body header .head .contain_block .p_block {
          margin-bottom: 0; } }
    body header .head .contain_block p {
      color: #b9b9b9;
      font: normal 2rem 'ProximaNova-Regular', sans-serif; }
      @media all and (max-width: 991px) {
        body header .head .contain_block p {
          margin-bottom: 15px; } }
    body header .head .contain_block .p1 {
      color: #98d361;
      text-transform: uppercase;
      font: normal 2rem 'ProximaNova-RegularIt', sans-serif; }
      body header .head .contain_block .p1 a {
        color: #98d361; }
      @media all and (max-width: 991px) {
        body header .head .contain_block .p1 {
          display: block;
          margin: 0 auto;
          text-align: center; } }
    body header .head .contain_block .button_block {
      margin-bottom: 57px; }
      @media all and (max-width: 991px) {
        body header .head .contain_block .button_block {
          margin-bottom: 15px; } }
      body header .head .contain_block .button_block .button1 {
        display: block;
        text-decoration: none;
        border-radius: 30px;
        max-width: 230px;
        height: 60px;
        text-transform: uppercase;
        font: normal 1.3rem 'ProximaNova-RegularIt', sans-serif;
        line-height: 60px;
        box-sizing: border-box;
        text-align: center;
        border: solid 2px #b9b9b9;
        background-color: #b9b9b9;
        color: white;
        transition: all 0.4s ease; }
        @media all and (max-width: 991px) {
          body header .head .contain_block .button_block .button1 {
            display: block;
            margin: 0 auto;
            text-align: center; } }
        @media all and (max-width: 991px) {
          body header .head .contain_block .button_block .button1:first-child {
            margin-bottom: 5px; } }
        body header .head .contain_block .button_block .button1:hover {
          border-color: #98d361;
          background-color: white;
          color: #98d361;
          transition: all 0.4s ease; }
        @media all and (min-width: 992px) {
          body header .head .contain_block .button_block .button1:first-child {
            margin-right: 25px; } }
    @media all and (max-width: 991px) {
      body header .head .contain_block .link_block {
        display: block;
        margin: 0 auto;
        text-align: center; } }
    body header .head .contain_block .link_block .but2 {
      display: inline-block;
      text-decoration: none;
      margin-right: 43px; }
      body header .head .contain_block .link_block .but2 svg {
        width: 31px;
        height: 32px;
        fill: #98d361; }
      body header .head .contain_block .link_block .but2:last-child {
        margin-right: 0; }
    body header .head .phone {
      margin: auto;
      background: url("../img/phone.jpg");
      width: 342px;
      height: 732px;
      position: relative; }
      body header .head .phone .carousel {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 298px;
        height: 530px; }
        body header .head .phone .carousel .carousel-indicators li {
          background: gray;
          opacity: 0.7; }
          body header .head .phone .carousel .carousel-indicators li.active {
            background: #98d361; }
      body header .head .phone .phone-screen {
        width: 298px;
        height: 530px; }
        body header .head .phone .phone-screen img {
          width: 100%;
          height: 100%; }
  body #landing {
    background: #98d361;
    padding: 70px 15px; }
    body #landing .head_block {
      margin-bottom: 35px; }
    body #landing h2 {
      font: normal 2.1rem 'ProximaNova-RegularIt', sans-serif;
      color: white;
      text-align: center;
      margin-bottom: 35px; }
    body #landing .p_block {
      display: flex; }
    body #landing p {
      font: normal 1.3rem 'ProximaNova-RegularIt', sans-serif;
      color: white;
      text-align: center;
      margin: auto; }
    body #landing h3 {
      font: normal 1.7rem 'ProximaNova-RegularIt', sans-serif;
      color: white;
      text-align: center;
      margin-bottom: 35px; }
      @media all and (max-width: 575px) {
        body #landing h3 {
          margin-bottom: 15px; } }
    body #landing a {
      display: block;
      text-align: center;
      margin-bottom: 35px; }
      @media all and (max-width: 767px) {
        body #landing a {
          margin-bottom: 0; } }
      @media all and (max-width: 575px) {
        body #landing a {
          margin-bottom: 15px; } }
      body #landing a svg {
        width: 89px;
        height: 70px;
        fill: white; }
    @media all and (max-width: 767px) {
      body #landing .item_col {
        margin-bottom: 35px; }
        body #landing .item_col:last-child {
          margin-bottom: 0; } }
  body #features {
    padding: 70px 35px; }
    body #features #carusel {
      width: 570px;
      transform-style: preserve-3d;
      perspective: 600px;
      font-size: 0; }
      body #features #carusel .back {
        cursor: pointer;
        top: 0;
        position: relative;
        width: 285px;
        height: 504px;
        display: inline-block;
        box-shadow: -10px 3px 3px 0px rgba(50, 50, 50, 0.5); }
        body #features #carusel .back img {
          width: 100%;
          height: 100%; }
        body #features #carusel .back-1 {
          transition: all 1s ease; }
          body #features #carusel .back-1.active {
            animation: carusel-l 0.45s ease-in-out normal;
            animation-fill-mode: forwards; }
          body #features #carusel .back-1.passive {
            animation: carusel-lr 0.45s ease-in-out normal;
            animation-fill-mode: forwards; }
        body #features #carusel .back-2 {
          transition: all 1s ease; }
          body #features #carusel .back-2.active {
            animation: carusel-r 0.45s ease-in-out normal;
            animation-fill-mode: forwards; }
          body #features #carusel .back-2.passive {
            animation: carusel-rr 0.45s ease-in-out normal;
            animation-fill-mode: forwards; }
      body #features #carusel:hover > .back1 {
        animation: carusel 1s ease 0 normal; }
    body #features .content-block h2 {
      font: bold 2.2rem 'ProximaNova-RegularIt', sans-serif;
      margin-bottom: 35px; }
    body #features .content-block .content-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 65px; }
      body #features .content-block .content-item:last-child {
        margin-bottom: 0; }
      body #features .content-block .content-item svg {
        width: 44px;
        height: 40px;
        margin-right: 35px; }
      body #features .content-block .content-item .content a {
        color: #98d361;
        font: bold 1.2rem 'ProximaNova-RegularIt', sans-serif;
        text-decoration: none;
        position: relative; }
        body #features .content-block .content-item .content a:before {
          position: absolute;
          display: inline-block;
          content: '[';
          left: -40px;
          opacity: 0;
          transition: all 0.3s ease; }
        body #features .content-block .content-item .content a:after {
          position: absolute;
          display: inline-block;
          content: ']';
          right: -40px;
          opacity: 0;
          transition: all 0.3s ease; }
        body #features .content-block .content-item .content a:hover:before {
          left: -10px;
          opacity: 1;
          transition: all 0.6s ease; }
        body #features .content-block .content-item .content a:hover:after {
          right: -10px;
          opacity: 1;
          transition: all 0.6s ease; }
      body #features .content-block .content-item .content p {
        font: normal 1.1rem 'ProximaNova-RegularIt', sans-serif;
        margin: 0; }

/*# sourceMappingURL=main.css.map */
