@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('../fonts/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: local('../fonts/Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
  url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('../fonts/Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Light.eot');
  src: local('../fonts/Proxima Nova Light'), local('ProximaNova-Light'),
  url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  header {
    @media all and (max-width: 960px) {
      padding-top: 56px;
    }
    .navbar {
      @media all and (max-width: 960px) {
        position: absolute;
        width: 100vw;
        top: 0;
      }
      background: #98d361;
      .navbar-nav {
        @media all and (max-width: 960px) {
          //position: absolute;
          .nav-item {
            height: calc((100vh - 57px) / 5);
            line-height: calc((100vh - 57px) / 5);
            text-align: center;
            border: solid 1px;
            a {
              padding: 0;
              color: white;
              text-transform: uppercase;
            }

          }
        }
      }
    }
    .head {
      height: calc(100vh - 56px);
      .container {
        margin: 0 auto;
        width: 100vw;
        padding: 15px;
      }
      .contain_block {
        height: 100%;
        display: flex;
        .content_block {
          h1 {
            color: #b9b9b9;
            text-transform: uppercase;
            font:bold 3rem 'ProximaNova-Bold', sans-serif ;
            display: inline-block;
          }
          p {
            color: #b9b9b9;
            font:normal 2rem 'ProximaNova-Regular', sans-serif ;
          }
          .p1 {
            color: #98d361;
            text-transform: uppercase;
            font:normal 2rem 'ProximaNova-RegularIt', sans-serif ;
          }
        }
      }
      .phone {
        margin: auto;
        background: url("../img/phone.jpg");
        width: 342px;
        height: 732px;
        position: relative;
        .carousel {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 298px;
          height: 530px;
          .carousel-indicators {
            li {
              background: gray;
              opacity: 0.7;
              &.active {
                background: #98d361
              }
            }
          }
        }
        .phone-screen {
          width: 298px;
          height: 530px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}